{% extends "base.html" %}

{% block scripts %}
<script src="{{ relpath }}scripts/leaflet.js"></script>
<script src="{{ relpath }}scripts/leaflet.ajax.min.js"></script>
<script src="{{ relpath }}scripts/Chart.min.js"></script>
<script>

  // Global chart config
  Chart.defaults.global.responsive = true;

  // Global Hunger Index score chart
  var context = $('#chart-score').get(0).getContext('2d');
  var scoreData = {
    labels: ["1990", "1995", "2000", "2005", "2015"],
    datasets: [
    {
      label: "Global hunger index evolution",
      fillColor: "rgba(220,220,220,0.2)",
      strokeColor: "rgba(220,220,220,1)",
      pointColor: "rgba(220,220,220,1)",
      pointStrokeColor: "#fff",
      pointHighlightFill: "#fff",
      pointHighlightStroke: "rgba(220,220,220,1)",

      data: [{{ score.year1990|replace("<", "") }}, {{ score.year1995|replace("<", "") }}, 
             {{ score.year2000|replace("<", "") }}, {{ score.year2005|replace("<", "") }}, 
             {{ score.year2015|replace("<", "") }}]
    }],
  };

  var scoreChart = new Chart(context).Line(scoreData, {
      scaleOverride: true,
      scaleSteps: 6,
      scaleStepWidth: 10,
      scaleStartValue: 5,
      bezierCurve: false 
  });

  function getSeverityClass(d) {                                                    
    if (d === '-') { return 'no-data'; }                                            
    if (d === '<5') { return 'low'; }                                              
    return d >= 50 ? 'extra-alarming' :                                            
      d >= 35  ? 'alarming' :                                                      
      d >= 20  ? 'serious' :                                                        
      d >= 10  ? 'moderate' :                                                      
      d >= 0   ? 'low' :                                                            
      'not-calculated';                                                            
  }
  
 $(document).ready(function(){
  
  $('#country-info').addClass('getSeverityClass({{ score.year2015 }})');

 });
  
</script>

{% endblock %}

{% block content %}
<section id="country-info" class="spaced-row">
  <div class="row">
    <div class="large-12 columns">
      <ul class="breadcrumbs">
        <li><a href="../../">Home</a></li> <li class="current">{{ name }}</li>
      </ul>
    </div>
  </div>
  
  <div class="row">  
    <h1 class="large-12 columns">{{ name }}</h1>
  </div>
  
  <div class="row collapse full-width">
    <!-- map goes here -->
  </div>
  
  <div class="row">
    <div class="large-12 columns"> 
      <p>{{ name }} has a Global Hunger Index score of {{ score.year2015 }} in 2015.</p>
      <p>Hunger level: XXX</p>

      {% if scorediff %}
      <p>Score evolution: <i class="fi-arrow-down"></i> / <i class="fi-arrow-up"></i> {{ scorediff }} points ({{ score.year2005 }} in 2005)</p>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <h3 class="large-12 columns">Global hunger index evolution</h3>
  </div>
  <div class="row">
    <canvas id="chart-score" class="large-12 columns"></canvas>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <h3>Detailed score for 2015</h3>
      <table>
        <thead>
          <tr>
            <th> &nbsp;</th>
            <td>{{ m.country_score_undernourished }}</td>
            <td>{{ m.country_score_stunting }}</td>
            <td>{{ m.country_score_mortality }}</td>
            <td>{{ m.country_score_wasting }}</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>{{ m.country_score_data }}</th>
            <td>{{ d.undernourished_2015.score }}</td>
            <td>{{ d.stunting_2015.score }}</td>
            <td>{{ d.mortality_2013.score }}</td>
            <td>{{ d.wasting_2015.score }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">    
    <h3 class="large-12 columns">Evolution from 1990 to 2015</h3>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <h4>{{ m.country_score_undernourished }}</h4>
      <canvas id="chart-undernourished" width="auto" height="250px"></canvas>
    </div>
    <div class="medium-6 columns">
      <h4>{{ m.country_score_stunting }}</h4>
      <canvas id="chart-stunting" width="auto" height="250px"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="medium-6 columns">
      <h4>{{ m.country_score_mortality }}</h4>
      <canvas id="chart-mortality" width="auto" height="250px"></canvas>
    </div>
    <div class="medium-6 columns">      
      <h4>{{ m.country_score_wasting }}</h4>
      <canvas id="chart-wasting" width="auto" height="250px"></canvas>
    </div>
  </div>
  
</section>

{% endblock %}
