{% extends "base.html" %}

{% block scripts %}
<script src="{{ relpath }}scripts/jquery.dataTables.js"></script>
<script src="{{ relpath }}scripts/trends.js"></script>
{% endblock %}

{% block content %}

  <section id="trends-content">
    <div class="row">
      <h1>Trends</h1>
      
      <p>The trends table goes here!</p>

      <table id="trends-table">
        <thead>
          <tr>
            <th>Country</th>
            <th>Score</th>
          </tr>
        </thead>
      </table>
    </div>
    
  </section>

{% endblock content %}
