{% extends "base.html" %}

{% block scripts %}
<link rel="stylesheet" href="{{ relpath }}styles/responsive.dataTables.min.css" media="screen">

<script src="{{ relpath }}scripts/jquery.dataTables.js"></script>
<script src="{{ relpath }}scripts/dataTables.responsive.min.js"></script>
<script src="{{ relpath }}scripts/trends.js"></script>
{% endblock %}

{% block content %}

  <section id="trends-content" class="spaced-row">
    <div class="row">
      <h1 class="large-12 columns">Trends of Hunger</h1>
    </div>
    
    <table id="trends-table">
      <thead>
        <tr>
          <th>Country</th>
          <th>Proportion of undernourished in population (in %)</th>
          <th>Prevalence of stunting in children under five years (in %)</th>
          <th>Prevalence of wasting in children under five years (in %)</th>
          <th>Under five years mortality rate (in %)</th>
          <th>Zone</th>
          <th>Score</th>
        </tr>
      </thead>
    </table>

    <div class="row">
      <div class="large-12 columns">
        <p class="trends-footnote">* IFPRI estimate</p> 
      </div>
    </div>
  </section>

{% endblock content %}
