/* Type
*/

@font-face {
    font-family: 'PT Sans';
	font-style: normal;
	font-weight: normal; 
	src: local('PT Sans Regular'), url('../fonts/PTS55F_W.ttf') format('truetype');
}

@font-face {
    font-family: 'PT Sans';
	font-style: normal;
	font-weight: bold; 
	src: local('PT Sans Bold'), url('../fonts/PTS75F_W.ttf') format('truetype');
}


@font-face {
    font-family: 'PT Sans Narrow';
	font-weight: normal;
	src: local('PT Sans Narrow Regular'), url('../fonts/PTN57F_W.ttf') format('truetype');
}

@font-face {
    font-family: 'PT Sans Narrow';
	font-weight: bold; 
	src: local('PT Sans Narrow Bold'), url('../fonts/PTN77F_W.ttf') format('truetype');
}

@import "foundation/settings";
@import "foundation";

/* Mixins
*/

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($time) {
   -webkit-transition: $time;
      -moz-transition: $time;
       -ms-transition: $time;
           transition: $time;
}

@mixin box-shadow($top, $left, $blur, $spread, $color) {
	-webkit-box-shadow: $top $left $blur $spread $color;
	   -moz-box-shadow: $top $left $blur $spread $color;
	    -ms-box-shadow: $top $left $blur $spread $color;
	        box-shadow: $top $left $blur $spread $color;
}



/* Colours
*/

$alarming-red: #AB0635;
$alarming-orange: #e9841d;
$serious-light-orange: #fbe0c7;
$moderate-light-green: #bedcb3;
$low-green: #4caf45;
$nodata-grey: #808080;
$notcalculated-grey: #eaeaea;

/* Layout
*/

.full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.spaced-row {
    padding: 2rem 0;
}

/* Topbar
*/

.top-bar {
    .name a {
        display: inline-block;
        img {
            width: 50px;
            height: auto;
            display: inline-block;
            padding-right: 10px;
            }
        span {
            display: inline-block;
            }
        }
}
        
/* Map
*/

#main-map {
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    #map-application {
        height: 500px;
        background: $notcalculated-grey url(../images/preloader.gif) no-repeat center center;
        }
    .map {
        width: 100%;
        height: 500px;
        }
    .large-4 {
        height: 100%;
        #table-container {
            height: 449px;
            overflow-y: scroll;
            border-top: 1px solid #ccc;
            #country-table { margin-bottom: 0; border: 0; }
            table tr td { padding: 0.5625rem 0.9375rem; }
            }
        .row {
            padding: 0.5rem 0 0;
            .large-12 > strong {
                font-size: 1.6875rem;
                font-family: 'PT Sans Narrow', 'DejaVu Sans', Roboto, Arial, sans-serif;
                }
            p {
                font-size: 0.875rem;
                margin-bottom: 0;
                padding-right: 0;
                }
            }
        }
}

.leaflet-container {
    font-family: 'PT Sans', 'DejaVu Sans', Roboto, Arial, sans-serif;
    font-weight: bold;
}

.leaflet-container .leaflet-popup .leaflet-popup-content-wrapper {
    @include border-radius(4px);
    background-color: #f9f9f9;
    p {
        margin: 0;
        font-size: 0.75rem;
        line-height: 1.2;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.25rem;
        
        .button {
            margin-bottom: 0;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            }
        }
        
    p:last-child {
        text-align: center;
        margin: 0.25rem 0 0;
        padding-bottom: 0.75rem;
        }


    .leaflet-popup-content {
        margin: 1rem 0 0;
        background-color: #fff;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        
        h4 {
            font-size: 1rem;
            line-height: 1;
            letter-spacing: 1px;
            text-transform: uppercase;
            background-color: #f9f9f9;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 0.75rem;
            border-bottom: 1px solid #ccc;
            }
        }    
    a.leaflet-popup-close-button {
        color: #999;
        }
    a.leaflet-popup-close-button:hover {
        color: #222;
        }
}


.leaflet-container a.button {
    color: #fff;
}

.year-select {
    button.dropdown {
        background-color: transparent;
        border-bottom: 1px solid $primary-color;
        color: $primary-color;
        font-family: 'PT Sans Narrow','DejaVu Sans', Roboto, Arial, sans-serif;
        font-size: 1.6875rem;
        padding: 0 1.1rem 0 0;
        margin: 0;
        }

    .dropdown:after, button.dropdown:after {
        border-color: $primary-color transparent transparent;
        right: 0;
        }
        
    .button {
        margin-bottom: 0;
        }
        
    button.dropdown:focus {
        outline: none;
        }
}

#table-container {
    border-bottom: 1px solid #ddd;
    #country-table {
        tbody tr td { cursor: pointer; }
        tbody tr td span { padding: 0.25rem 0.5rem; }
        tbody tr td.score span {
            font-size: 0.75rem;
            font-weight: bold;
            @include border-radius(4px);
            background-color: #f9f9f9;
            }
        .extra-alarming td.score span { background-color: $alarming-red; }
        .alarming td.score span       { background-color: $alarming-orange; }
        .serious td.score span        { background-color: $serious-light-orange; }
        .moderate td.score span       { background-color: $moderate-light-green; }
        .low td.score span            { background-color: $low-green; }
        .no-data td.score span        { background-color: $nodata-grey; }
        .indust-country td.score span { background-color: $notcalculated-grey; }
        }
}

#map-legend {
}

.ghi-levels {
    padding: 0.5rem 0;
    margin: 0;
    li {
        list-style-type: none;
        display: inline-block;
        font-family: 'PT Sans Narrow', 'DejaVu Sans', Roboto, Arial, sans-serif;
        font-weight: bold;
        font-size: 80%;
        line-height: 1;
        padding-bottom: 0.425rem;
        em {
            font-family: 'PT Sans', 'DejaVu Sans', Roboto, Arial, sans-serif;
            font-style: normal;
            font-weight: normal;
            white-space: nowrap;
            }
        .fi-stop { vertical-align: bottom; }
        }
    .extra-alarming .fi-stop { color: $alarming-red; }
    .alarming       .fi-stop { color: $alarming-orange; }
    .serious        .fi-stop { color: $serious-light-orange; }
    .moderate       .fi-stop { color: $moderate-light-green; }
    .low            .fi-stop { color: $low-green; }
    .no-data        .fi-stop { color: $nodata-grey; }
    .indust-country .fi-stop { color: $notcalculated-grey; }
}

/* Home Blocks
*/

#home-blocks {
    .row { margin-bottom: 1rem; }
    p {
        line-height: 1.4;
        }
    a.columns {
        outline: 0;
        color: #54544b;
        
        div {
            padding: 0 0.75rem 0.45rem;
            background-color: #f8f8f8;
            @include border-radius(4px);
            }
        
        h3 {
            color: $primary-color;
            font-size: 1.375rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding-top: 1rem;
            }
        
        &.columns:hover div {
            color: #444;
            background-color: $notcalculated-grey;
            @include transition(.5s);
            @include border-radius(4px);
            }
         &.columns:focus div {
            color: $primary-color;
            }
        }
}

/* Country page
*/

#country-info {
    padding-bottom: 4rem;
    .breadcrumbs { margin-bottom: 0; }
    .row h3 { padding-top: 2rem; }
    .row h4 {
        font-size: 1.125rem;
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-top: 1rem;
        min-height: 4.5rem;
        }
    em { font-style: normal; }
    #hunger-level strong {
        text-transform: capitalize;
        font-weight: bold; }
    #summary {
        p {
            margin-bottom: 0.25rem;
            }       
        p#hunger-level em,
        p#score-value em {
            font-size: 0.925rem;
            font-family: 'PT Sans Narrow', 'DejaVu Sans', Roboto, Arial, sans-serif;
            font-style: normal;
            text-transform: uppercase;
            background: #ddd;
            padding: 0.2rem 0.45rem;
            @include border-radius(2px);
            }
        p#score-value {
            .up, .fi-arrow-up { color: #8f3422; }
            .down, .fi-arrow-down { color: #267640;}
            }
        }
    
    canvas {
        max-width: 100%;
        margin-bottom: 1rem;
        }
}

#country-info.extra-alarming {
    em.severity,
    #detailed-score tbody td { color: $alarming-red; }
    
    p.severity strong {
        background-color: $alarming-red;
        padding: 0.2rem 0.45rem;
        @include border-radius(10px);
        }
}

#country-info.alarming {
    em.severity,
    #detailed-score tbody td{ color: $alarming-orange; }
    
    p.severity strong {
        background-color: $alarming-orange;
        padding: 0.2rem 0.45rem;
        @include border-radius(10px);
        }
}

#country-info.serious {
    em.severity,
    #detailed-score tbody td { color: $serious-light-orange; }
    
    p.severity strong {
        background-color: $serious-light-orange;
        padding: 0.2rem 0.45rem;
        @include border-radius(10px);
        }
}

#country-info.moderate {
    em.severity,
    #detailed-score tbody td { color: $moderate-light-green; }
    
    p.severity strong {
        background-color: $moderate-light-green;
        padding: 0.2rem 0.45rem;
        @include border-radius(10px);
        }
}

#country-info.low {
    em.severity,
    #detailed-score tbody td  { color: $low-green; }
    
    p.severity strong {
        background-color: $low-green;
        padding: 0.2rem 0.45rem;
        @include border-radius(10px);
        }
}

#country-info.no-data {
    em.severity,
    #detailed-score tbody td { color: $nodata-grey; }
    
    p.severity strong {
        background-color: $nodata-grey;
        padding: 0.2rem 0.45rem;
        @include border-radius(10px);
        }
}

#country-info.not-calculated {
    em.severity,
    #detailed-score tbody td { color: $notcalculated-grey; }
    
    p.severity strong {
        background-color: $notcalculated-grey;
        padding: 0.2rem 0.45rem;
        @include border-radius(10px);
        }
}

/* Trends page
*/

#trends-content {
    #trends-table_wrapper {
        table#trends-table {
            max-width: 100%;
            }
        thead th:nth-child(6),
        tbody td:nth-child(6) { display: none; }
        
        }
}


/* Static pages
*/

#static-content {
    
    .row h1 {
        border-bottom: 1px solid #ccc;
        padding-bottom: 0.5rem;
        margin-bottom: 1.75rem;
        }
        
    .row p > strong {
        font-family: $font-family-sans-serif-narrow;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        }
}


/* Trends page
*/



/* Footer
*/

#footer {
    color: #fff;
    background-color: $oil;
    padding: 2rem 0;
    ul li {
        display: inline-block;
        list-style-type:none;
        }
    ul.orgs li {
        margin-right: 1.5rem;
        a {
            display: inline-block;
            height: 60px;
            width: auto;
                img {
                    height: 100%;
                    width: auto;
                }
            }
        }
    .credits {
        li:first-child { margin-right: 1rem; }
        li i { margin-right: 0.25rem; }
        }
}

/* Media Queries
*/

@media #{$small-only} {

    #main-map .large-4 #table-container { -webkit-overflow-scrolling: touch; }

    #main-map .large-4 { @include box-shadow(0, 0, 0, 0, transparent); }
    
    #home-blocks a.columns div { min-height: 12rem; }

    #footer ul.orgs li a { height: 40px; margin-right: 0.5rem; }
}
/*
@media #{$landscape} {    
    #main-map #map-application,
    #main-map #map-application .map { height: 280px; }
    #main-map .large-4 #table-container { height: 200px; }
}
*/
@media #{$landscape} and (min-width: 40.063em) and (max-width: 64em) {
    #main-map #map-application,
    #main-map #map-application .map { height: 280px; }
    #main-map .large-4 #table-container { height: 200px; }
}
/*
@media #{$portrait} {
    #main-map #map-application,
    #main-map #map-application .map { height: 320px; }
    #main-map .large-4 #table-container { height: 200px; }
}*/

/*and (max-width: 64em)
*/

@media #{$portrait} and (min-width: 40.063em) and (max-width: 64em) {
    #main-map #map-application,
    #main-map #map-application .map { height: 500px; }
    #main-map .large-4 #table-container { height: 260px; }
}

@media #{$medium-only} {    
    #main-map .large-4 #table-container { -webkit-overflow-scrolling: touch; }
    
    #main-map .large-4 { @include box-shadow(0, 0, 0, 0, transparent); }
}

@media #{$medium-up} {
    #main-map #map-application,
    #main-map #map-application .map { height: 500px; }
    #main-map .large-4 #table-container { height: 449px; }
    #main-map .large-4 { @include box-shadow(-10px, 0, 15px, -15px, rgba(0, 0, 0, 0.7)); }
    #home-blocks a.columns div { min-height: 9rem; }
}

@media #{$large-up} {    
    .ghi-levels li { padding-bottom: 0; }
    .ghi-levels li.extra-alarming { width: 16.2857%; }
    .ghi-levels li.indust-countries { width: 15.2857%; }
    .ghi-levels li.no-data { width: 11.2857%; }
    
    
    #home-blocks a.columns div { min-height: 8rem; }
}


